POSTGRES_DB=ticketrush
POSTGRES_PORT=5432
POSTGRES_USER=ticketrush
POSTGRES_PASSWORD=
REDIS_PASSWORD=
RABBITMQ_USER=ticketrush
RABBITMQ_PASSWORD=
# Generate 32 random bytes encoded as Base64. See README.
JWT_SECRET=
BACKEND_PORT=8080
